.btn-primary {
  background-color: #37718e;
  margin: 10px;
  border-color: rgb(68, 68, 68);
  border-radius: 5px;
  border-width: 1px;
}

.btn-primary:disabled {
  background-color: #37718e;
  margin: 10px;
  border-color: rgb(68, 68, 68);
  border-radius: 5px;
  border-width: 1px;
}

.btn-secondary {
  background-color: #37718e;
  margin: 10px;
  border-color: rgb(68, 68, 68);
  border-radius: 5px;
  border-width: 1px;
}

.btn-primary:hover {
  background-color: #37718e;
  border-color: rgb(68, 68, 68);
  border-radius: 5px;
  border-width: 1px;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  background-color: #37718e;
  box-shadow: none;
}

.dv-btn {
  display: flex;
  justify-content: center;
}

.dv-login {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.dv-adminRequestButtons {
  display: flex;
  justify-content: center;
}

.btn-success {
  background-color: #78b771;
  border-color: rgb(68, 68, 68);
  border-radius: 5px;
  border-width: 1px;
  margin: 10px;
}

.btn-success:hover{
  background-color: #78b771;
}

.btn-warning {
  background-color: #bb2d3b;
  color: #fff;
  border-color: rgb(68, 68, 68);
  border-radius: 5px;
  border-width: 1px;
  margin: 10px;
}
.btn-warning:hover{
  background-color: #bb2d3b;
  color: #fff;
  border-color: rgb(68, 68, 68);
  border-radius: 5px;
  border-width: 1px;
}

.btn-warning:disabled,
.btn-warning.disabled {
  display: none;
}

.btn-danger {
  background-color: #37718e;
  border-color: rgb(68, 68, 68);
  border-radius: 5px;
  border-width: 1px;
  margin: 10px;
}
.btn-danger:hover{
  background-color: #37718e;
  border-color: rgb(68, 68, 68);
  border-radius: 5px;
  border-width: 1px;
}

.btn-signin {
  letter-spacing: 0;
  border: none;
  background: rgba(255,255,255,0);
  color: rgba(255,255,255,1);
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn-signin:hover,
.btn-signin:active {
  letter-spacing: 5px;
}

.btn-signin:after,
.btn-signin:before {
  backface-visibility: hidden;
  border: 1px solid white;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  color: rgba(255,255,255,0);
}

.btn-signin:hover:after,
.btn-signin:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
  color: rgba(255,255,255,0);
}

.btn-signin:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
  color: rgba(255,255,255,0);
}

.btn-logo{
  margin-right: 5px;
  margin-bottom: 5px;
  border: none;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-logo:after{
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-logo:before {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.btn-sep {
  padding: 20px 20px 20px 80px;
}

.btn-sep:before {
  background: rgba(0,0,0,0.15);
}

.btn-logo-logo{
  background: #37718e;
  color: white;
}

.btn-logo-logo:disabled{
  background: #37718e90;
  color: white;
}
.btn-logo-logo:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}
.btn-logo-logo-approve{
  background: #78b771;
  color: white;
}
.btn-logo-logo-approve:disabled{
 display: none;
}
.btn-logo-logo-approve:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}
.btn-logo-logo-deny{
  background: #bb2d3b;
  color: white;
}
.btn-logo-logo-deny:disabled{
  display: none;
}
.btn-logo-logo-deny:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.icon-paperplane:before{
  content: "\f1d8";
}

.icon-calendar:before{
  content: "\f273";
}

.icon-close:before{
  content: "\f00d";
}

.icon-check:before{
  content: "\f00c";
}
.icon-delete:before{
  content: "\f014";
}

.icon-adduser:before{
  content: "\f234";
}

.icon-edit:before{
  content: "\f044";
}

.icon-comment:before{
  content: "\f27a";
}

.icon-deny:before{
  content: "\f2d3";
}
.icon-password:before{
  content: "\f13e";
}