.fc {
  margin: 20px;
}

.fc-col-header-cell-cushion {
  text-decoration: none;
  color: black;
}

.fc-col-header-cell-cushion:hover {
  color: black;
}

.fc-daygrid-day-number {
  text-decoration: none;
  color: black;
}

.fc-daygrid-day-number:hover {
  color: black;
}

.fc-toolbar-title {
  display: inline;
  padding: 20px;
  margin: 20px;
}

.fc .fc-button-primary {
  background-color: #37718e;
}

.fc-daygrid-event {
  color: rgb(49, 49, 49);
}
.fc-daygrid-event:hover {
  color: rgb(49, 49, 49);
}
.fc-daygrid-block-event{
  border-radius: 0;
  border-color: #37718e;
}


.fc-daygrid-bg-harness {
  background-color: #37718e5e;
}

.createrequest-header{
  margin-left: 20px;
}
.requestcalendar-title{
  margin-left: 30px;
}
.requestform-title{
  margin-bottom: 30px;
}
.request-dates-title{
  margin-left: 20px;
}

.fc .fc-prev-button{
  border: none;
  border-radius: 0;
  margin-right: 10px;
}
.fc .fc-prev-button:hover{
  transform: scale(1.2,1.2);
  background-color: #37718e;
}
.fc .fc-next-button{
  margin-left: 10px;
  border: none;
  border-radius: 0;
}
.fc .fc-next-button:hover{
  transform: scale(1.2,1.2);
  background-color: #37718e;
}

