.my-nav {
  background-color: #37718e;
  border-bottom: solid rgb(68, 68, 68) 2px;
}

.nav-tabs {
  border-bottom: none;
  font-size: larger;
}

.nav-tabs .nav-link {
  border: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
  font-style: oblique;
}

.dropdown-menu {
  background-color: #37718e;
  color: #fff;
}

.dropdown-item {
  color: #fff;
}

#profile-dropdown {
  background-color: #37718e;
  color: #fff;
}

.nav-signedin{
  align-items: end;
}
